.vscode/**
.github/**
wiki/**
web-doc/**
docs/**
node_modules/**
src/**
!src/assets/
!src/assets/**
scripts/**
.tmp/**
artifacts/**
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
knip.json
release-notes.md
toRefactor.md
esbuild.js
generate-vsix.sh
testingPrompt.md
*.vsix
*.log
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
